#### Prompt
Build a recommendation system using all or some of movie info
Get only dataset link from notebook

#### Hints
 - Combine movie data into one string since TFidf only takes one string as a individual document
 - Use TF-IDF to transform strings into vectors. 
 - Get the TF-IDF of a query movie, compute similarity between query and other vectors
 - Sort by similarity then return the top 5 closest movies
 - Test on movies in other genres to test if code works.

#### Importing Packages and Data

In [97]:
import re

import nltk

import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from scipy import spatial

In [98]:
nltk.download("wordnet")
nltk.download("punkt")
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\seohy\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\seohy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\seohy\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

#### Download & check raw data

In [99]:
# https://www.kaggle.com/tmdb/tmdb-movie-metadata
!wget https://lazyprogrammer.me/course_files/nlp/tmdb_5000_movies.csv

--2023-10-07 18:58:53--  https://lazyprogrammer.me/course_files/nlp/tmdb_5000_movies.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.21.23.210
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5698602 (5.4M) [text/csv]
Saving to: 'tmdb_5000_movies.csv.1'

     0K .......... .......... .......... .......... ..........  0% 1.50M 4s
    50K .......... .......... .......... .......... ..........  1% 6.34M 2s
   100K .......... .......... .......... .......... ..........  2% 2.32M 2s
   150K .......... .......... .......... .......... ..........  3% 4.83M 2s
   200K .......... .......... .......... .......... ..........  4% 4.79M 2s
   250K .......... .......... .......... .......... ..........  5% 2.83M 2s
   300K .......... .......... .......... .......... ..........  6% 8.06M 2s
   350K .......... .......... .......... .......... ..........  7% 1.20M 2s
   400K .......... .......... .......... .......... ..........  8% 2.77M 2s
   450K .......... .......... .......... .......... ..........  8% 59.1M 2s
   500K .......... .......... .......... .......... ..........  9% 12.3M 2s
   550K .......... .......... .......... .......... .......... 10% 39.2M 1s
   600K .......... .......... .......... .......... .......... 11% 38.9M 1s
   650K .......... .......... .......... .......... .......... 12% 10.8M 1s
   700K .......... .......... .......... .......... .......... 13% 50.2M 1s
   750K .......... .......... .......... .......... .......... 14% 2.50M 1s
   800K .......... .......... .......... .......... .......... 15% 4.01M 1s
   850K .......... .......... .......... .......... .......... 16% 13.2M 1s
   900K .......... .......... .......... .......... .......... 17% 21.8M 1s
   950K .......... .......... .......... .......... .......... 17% 2.18M 1s
  1000K .......... .......... .......... .......... .......... 18% 14.3M 1s
  1050K .......... .......... .......... .......... .......... 19% 25.7M 1s
  1100K .......... .......... .......... .......... .......... 20% 4.74M 1s
  1150K .......... .......... .......... .......... .......... 21% 12.6M 1s
  1200K .......... .......... .......... .......... .......... 22% 1.38M 1s
  1250K .......... .......... .......... .......... .......... 23% 2.24M 1s
  1300K .......... .......... .......... .......... .......... 24% 35.7M 1s
  1350K .......... .......... .......... .......... .......... 25% 58.5M 1s
  1400K .......... .......... .......... .......... .......... 26% 52.7M 1s
  1450K .......... .......... .......... .......... .......... 26% 62.9M 1s
  1500K .......... .......... .......... .......... .......... 27% 67.5M 1s
  1550K .......... .......... .......... .......... .......... 28% 25.1M 1s
  1600K .......... .......... .......... .......... .......... 29% 13.3M 1s
  1650K .......... .......... .......... .......... .......... 30% 37.8M 1s
  1700K .......... .......... .......... .......... .......... 31% 50.6M 1s
  1750K .......... .......... .......... .......... .......... 32% 5.25M 1s
  1800K .......... .......... .......... .......... .......... 33% 43.9M 1s
  1850K .......... .......... .......... .......... .......... 34% 62.9M 1s
  1900K .......... .......... .......... .......... .......... 35% 40.3M 1s
  1950K .......... .......... .......... .......... .......... 35% 16.2M 1s
  2000K .......... .......... .......... .......... .......... 36% 61.4M 1s
  2050K .......... .......... .......... .......... .......... 37% 11.4M 1s
  2100K .......... .......... .......... .......... .......... 38% 33.5M 1s
  2150K .......... .......... .......... .......... .......... 39% 56.6M 1s
  2200K .......... .......... .......... .......... .......... 40% 14.7M 1s
  2250K .......... .......... .......... .......... .......... 41% 62.6M 1s
  2300K .......... .......... .......... .......... .......... 42% 4.81M 0s
  2350K .......... .......... .......... .......... .......... 43% 18.7M 0s
  2400K .......... .......... .......... .......... .......... 44% 35.8M 0s
  2450K .......... .......... .......... .......... .......... 44% 39.3M 0s
  2500K .......... .......... .......... .......... .......... 45% 45.2M 0s
  2550K .......... .......... .......... .......... .......... 46% 13.0M 0s
  2600K .......... .......... .......... .......... .......... 47% 34.2M 0s
  2650K .......... .......... .......... .......... .......... 48% 12.4M 0s
  2700K .......... .......... .......... .......... .......... 49% 4.92M 0s
  2750K .......... .......... .......... .......... .......... 50% 3.20M 0s
  2800K .......... .......... .......... .......... .......... 51% 17.3M 0s
  2850K .......... .......... .......... .......... .......... 52% 2.42M 0s
  2900K .......... .......... .......... .......... .......... 53% 33.5M 0s
  2950K .......... .......... .......... .......... .......... 53% 11.2M 0s
  3000K .......... .......... .......... .......... .......... 54% 30.9M 0s
  3050K .......... .......... .......... .......... .......... 55% 7.84M 0s
  3100K .......... .......... .......... .......... .......... 56% 14.4M 0s
  3150K .......... .......... .......... .......... .......... 57% 22.2M 0s
  3200K .......... .......... .......... .......... .......... 58% 31.7M 0s
  3250K .......... .......... .......... .......... .......... 59% 4.49M 0s
  3300K .......... .......... .......... .......... .......... 60% 30.3M 0s
  3350K .......... .......... .......... .......... .......... 61% 43.8M 0s
  3400K .......... .......... .......... .......... .......... 61% 34.1M 0s
  3450K .......... .......... .......... .......... .......... 62% 44.9M 0s
  3500K .......... .......... .......... .......... .......... 63% 41.6M 0s
  3550K .......... .......... .......... .......... .......... 64% 15.9M 0s
  3600K .......... .......... .......... .......... .......... 65% 8.15M 0s
  3650K .......... .......... .......... .......... .......... 66% 33.3M 0s
  3700K .......... .......... .......... .......... .......... 67% 51.5M 0s
  3750K .......... .......... .......... .......... .......... 68% 12.3M 0s
  3800K .......... .......... .......... .......... .......... 69% 34.6M 0s
  3850K .......... .......... .......... .......... .......... 70% 2.09M 0s
  3900K .......... .......... .......... .......... .......... 70% 24.6M 0s
  3950K .......... .......... .......... .......... .......... 71% 26.4M 0s
  4000K .......... .......... .......... .......... .......... 72% 43.5M 0s
  4050K .......... .......... .......... .......... .......... 73% 55.8M 0s
  4100K .......... .......... .......... .......... .......... 74% 19.7M 0s
  4150K .......... .......... .......... .......... .......... 75% 21.5M 0s
  4200K .......... .......... .......... .......... .......... 76% 7.59M 0s
  4250K .......... .......... .......... .......... .......... 77% 39.2M 0s
  4300K .......... .......... .......... .......... .......... 78% 11.0M 0s
  4350K .......... .......... .......... .......... .......... 79% 34.9M 0s
  4400K .......... .......... .......... .......... .......... 79% 12.2M 0s
  4450K .......... .......... .......... .......... .......... 80% 8.70M 0s
  4500K .......... .......... .......... .......... .......... 81% 3.98M 0s
  4550K .......... .......... .......... .......... .......... 82% 28.7M 0s
  4600K .......... .......... .......... .......... .......... 83% 20.5M 0s
  4650K .......... .......... .......... .......... .......... 84% 6.29M 0s
  4700K .......... .......... .......... .......... .......... 85% 33.3M 0s
  4750K .......... .......... .......... .......... .......... 86% 14.0M 0s
  4800K .......... .......... .......... .......... .......... 87% 2.98M 0s
  4850K .......... .......... .......... .......... .......... 88% 52.5M 0s
  4900K .......... .......... .......... .......... .......... 88% 48.2M 0s
  4950K .......... .......... .......... .......... .......... 89% 5.82M 0s
  5000K .......... .......... .......... .......... .......... 90% 2.62M 0s
  5050K .......... .......... .......... .......... .......... 91% 51.4M 0s
  5100K .......... .......... .......... .......... .......... 92% 13.8M 0s
  5150K .......... .......... .......... .......... .......... 93% 16.9M 0s
  5200K .......... .......... .......... .......... .......... 94% 42.9M 0s
  5250K .......... .......... .......... .......... .......... 95% 5.71M 0s
  5300K .......... .......... .......... .......... .......... 96% 49.7M 0s
  5350K .......... .......... .......... .......... .......... 97% 16.6M 0s
  5400K .......... .......... .......... .......... .......... 97% 4.73M 0s
  5450K .......... .......... .......... .......... .......... 98% 38.0M 0s
  5500K .......... .......... .......... .......... .......... 99% 36.8M 0s
  5550K .......... .....                                      100% 40.8M=0.6s

2023-10-07 18:58:54 (8.40 MB/s) - 'tmdb_5000_movies.csv.1' saved [5698602/5698602]

In [100]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [101]:
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

#### Organizing DF to pass into TF-IDF

Goal: Turning meaningful columns for recommendation system (genre, keywords, overview, tagline) into a single single string to be passed into TF-IDF. 

Step-by-step plan:
1. Extract genre names from 'genres' column, store into a variable. 
2. For each keyword from 'keywords' column, concat them together, store into a variable
3. Store overview from 'overview column' into a varible
4. Store tagline from 'tagline' into a variable
5. Add variable in steps 1~5 into one variable
6. Add the resultant string into a list.
7. The resultant list is a list of all train + test data.

In [102]:
split_genres = df['genres'].str[1:-1]
split_genres = split_genres.str.split(', ', expand=True)

# Extract genre using regex
# Iterating over each row is slow and inefficient. Use applymap or apply instead.
def extract_name(cell):
    if pd.isnull(cell):
        return ''
    match = re.search(r'"name":\s*"([^"]*)"', cell) # cannot search through None
    if match:
        return match.group(1)
    return None

# Apply extract_genre function
genre_extracted_df = split_genres.applymap(extract_name)
genre_extracted_df = genre_extracted_df.fillna('')

genre_extracted_df = genre_extracted_df.agg(' '. join, axis=1)

genre_extracted_df

0        Action  Adventure  Fantasy  Science Fiction  ...
1                      Adventure  Fantasy  Action
2                        Action  Adventure  Crime
3                    Action  Crime  Drama  Thriller
4              Action  Adventure  Science Fiction
                              ...
4798                      Action  Crime  Thriller
4799                            Comedy  Romance
4800               Comedy  Drama  Romance  TV Movie
4801
4802                              Documentary
Length: 4803, dtype: object

In [103]:
split_keywords = df['keywords'].str[1:-1]
split_keywords = split_keywords.str.split(', ', expand=True)

keywords_extracted_df = split_keywords.applymap(extract_name)
keywords_extracted_df = keywords_extracted_df.fillna('')

keywords_extracted_df = keywords_extracted_df.agg(' '. join, axis=1)

keywords_extracted_df

0        culture clash  future  space war  space colon...
1        ocean  drug abuse  exotic island  east india ...
2        spy  based on novel  secret agent  sequel  mi...
3        dc comics  crime fighter  terrorist  secret i...
4        based on novel  mars  medallion  space travel...
                              ...
4798     united states\u2013mexico barrier  legs  arms...
4799                                                  ...
4800     date  love at first sight  narration  investi...
4801                                                  ...
4802     obsession  camcorder  crush  dream girl      ...
Length: 4803, dtype: object

In [104]:
overview_df = df['overview']
tagline_df = df['tagline']

In [105]:
total_df = pd.concat([genre_extracted_df, keywords_extracted_df, overview_df, tagline_df], axis=1)
total_df = total_df.fillna('')

total_df = total_df.agg(' '. join, axis=1)
total_df

0        Action  Adventure  Fantasy  Science Fiction  ...
1        Adventure  Fantasy  Action          ocean  dr...
2        Action  Adventure  Crime          spy  based ...
3        Action  Crime  Drama  Thriller        dc comi...
4        Action  Adventure  Science Fiction          b...
                              ...
4798     Action  Crime  Thriller          united state...
4799     Comedy  Romance                              ...
4800     Comedy  Drama  Romance  TV Movie        date ...
4801                                                  ...
4802     Documentary              obsession  camcorder...
Length: 4803, dtype: object

### Training using TF-IDF

No need to split the data into train and test set, because there is no testing to be done. 
Rather, we are calculating the vector distance between two vectors.

In [106]:
train_texts = total_df 

tfidf = TfidfVectorizer() # instantiate TfidfVectorizer class
                          # try out other 변수 like stopwords
tfidf_matrix = tfidf.fit_transform(train_texts) # fit vectorizer onto data, transform into vector

#### Get query, calculate the closest 5 vectors

In [107]:
# Get the TF-IDF of a query movie, compute similarity between query and other vectors
query_movie = input('Which movie do you wish to watch: ')

In [108]:
# take query_movie find corresponding vector in df
query_movie_index = df[df['original_title'] == query_movie].index[0]
query_vector = tfidf_matrix[query_movie_index]

# calculate cosine distance between corresponding vector and all other vectors using df
cosine_similarity_list = []
for i in range(1, 4803):
    query_vector_1D = query_vector.toarray().flatten()
    tfidf_matrix_1D = tfidf_matrix[i].toarray().flatten()
    cosine_similarity = 1 - spatial.distance.cosine(query_vector_1D, tfidf_matrix_1D)
    cosine_similarity_list.append(cosine_similarity)

# rank the distance, select the 5 closest vectors
index = np.argpartition(cosine_similarity_list, -5)[-5:]

# return the movies that correspond with those 5 closest vectors using df
print('Based on your query, I would recommended: {0}, {1}, {2}, {3}, {4}'.format(
    df.loc[index[0],'original_title'], 
    df.loc[index[1],'original_title'], 
    df.loc[index[2],'original_title'], 
    df.loc[index[3],'original_title'], 
    df.loc[index[4],'original_title']
    ))

Based on your query, I would recommended: The Avengers, Semi-Pro, R.I.P.D., Quantum of Solace, Avatar